.index-holder {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}

.index-holder h1 {
  font-size: 3.5rem;
  line-height: 5.5rem;
  /* padding: 1rem; */
  letter-spacing: 5px;
}

.index-holder p {
  font-size: 1.5rem;
  line-height: 3rem;
  padding: .5rem;
  /* padding-top: 0; */
}

.index-holder small {
  font-style: italic;
}

.index-holder small a {
  color: #ccc;
}

.index-holder .back-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -5;
  opacity: .3;
}

.index-holder .back-img img {
  width: 100%;
  max-width: 60vw;
  max-height: 40vh;
  object-fit: contain;
}